@model BLL.Interfaces.Objects.Test

<div>
@foreach (var question in Model.Questions)
{
    <div>
        @question.Name
        @Html.ActionLink("Добавить варианты", "CreateVariants", "Admin", new {id = question.Id.ToString()}, null)
    </div>
}
</div>