@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Управление пользователями", "UserManager");
</p>
<p>
    @Html.ActionLink("Управление тестами", "TestManager");
</p>